<{if $result == 2}>
	<h2><{$lang_reach_max_limit}></h2>
<{elseif $result == 3}>
	<h2><{$smarty.const._SHORTCUTS_URLEXIST}></h2>
	<br />
	[ <a href="<{$module_url}>?Op=Delete&Url=<{$url}>"><{$smarty.const._DELETE}></a> ] - [ <a href="<{$module_index}>"><{$smarty.const._EDIT}></a> ] - [ <a href="javascript: history.back()"><{$smarty.const._CANCEL}></a> ]
<{elseif $result == 4}>
	<h2><{$smarty.const._SHORTCUTS_ADD_URL}></h2>
	<form method='post' action='<{$module_url}>'>
	<table border="0">
	<tr>
		<td><{$smarty.const._SHORTCUTS_URL}></td><td><{$visible_url}></td>
	</tr>
	<tr>
		<td><{$smarty.const._TITLE}></td><td><input type='hidden' name='Url' value='<{$url}>' /><input type='hidden' name='Op' value='addshortcut' /><input type='text' name='title' value='<{$url_title}>' size='50' <{$maxlength}> /></td>
	</tr>
	<{if $enable_rating}>
	<tr>
		<td><{$lang_rating}></td><td><select name='Rating'><option value='0' selected>--</option><option value='10'>10</option><option value='9'>9</option><option value='8'>8</option><option value='7'>7</option><option value='6'>6</option><option value='5'>5</option><option value='4'>4</option><option value='3'>3</option><option value='2'>2</option><option value='1'>1</option></select></td>
	</tr>
	<{/if}>
	<tr>
		<td colspan="2" align='left'><input type="submit" name="go" />&nbsp;<input type="reset" name="cancel" /></td>
	</tr>
	</table>
	</form>
<{/if}>
