<{if $block.display_layout == 0}>
	<form name="fshortcuts" method="post" action="<{$block.go_link}>">
	<{if $block.shortcuts_count}>
		<select name="selshort" onChange="javascript: document.fshortcuts.submit();">
		<{foreach item=oneshortcut from=$block.shortcuts}>
			<option value="<{$oneshortcut.id}>"><{$oneshortcut.title}></option>
		<{/foreach}>
		</select>
	<{/if}>
	<input type="image" src="<{$xoops_url}>/modules/shortcuts/images/view.gif" title="<{$block.lang_view_shortcut}>" />
	<a href="<{$block.addlink}>?Op=Add" title="<{$block.lang_add_current_page}>"><img src="<{$xoops_url}>/modules/shortcuts/images/add.gif" alt="<{$block.lang_add_current_page}>" /></a>
	<a href="<{$xoops_url}>/modules/shortcuts/index.php" title="<{$block.lang_edit_shortcuts}>"><img src="<{$xoops_url}>/modules/shortcuts/images/edit.gif" title="<{$block.lang_edit_shortcuts}>" /></a>
	</form>
<{elseif $block.display_layout == 1}>
	<ul>
		<{foreach item=oneshortcut from=$block.shortcuts}>
			<li><a href="<{$block.go_link}>?selshort=<{$oneshortcut.id}>"><{$oneshortcut.title}></a></li>
		<{/foreach}>
	</ul>
	<a href="<{$block.addlink}>?Op=Add" title="<{$block.lang_add_current_page}>"><img src="<{$xoops_url}>/modules/shortcuts/images/add.gif" border="0" alt="<{$block.lang_add_current_page}>" title="<{$block.lang_add_current_page}>" /></a>
	<a href="<{$xoops_url}>/modules/shortcuts/index.php" title="<{$block.lang_edit_shortcuts}>"><img src="<{$xoops_url}>/modules/shortcuts/images/edit.gif" border="0" alt="<{$block.lang_edit_shortcuts}>" title="<{$block.lang_edit_shortcuts}>" /></a>
<{elseif $block.display_layout == 2}>
	<div id="ie5menu" class="skin0" onMouseover="highlightie5(event)" onMouseout="lowlightie5(event)" onClick="jumptoie5(event)" display:none>
	<{foreach item=oneshortcut from=$block.shortcuts}>
		<div class="menuitems" url="<{$block.go_link}>?selshort=<{$oneshortcut.id}>"><{$oneshortcut.title}></div>
	<{/foreach}>
	<hr />
	<div class="menuitems" url="<{$block.addlink}>?Op=Add&Url=<{$block.cururl}>&Title=<{$xoops_pagetitle}>"><{$block.lang_add_current_page}></div>
	<div class="menuitems" url="<{$xoops_url}>/modules/shortcuts/index.php"><{$block.lang_edit_shortcuts}></div>
	</div>
	<script language="text/javascript">
	//set this variable to 1 if you wish the URLs of the highlighted menu to be displayed in the status bar
	var display_url=0

	var ie5=document.all&&document.getElementById
	var ns6=document.getElementById&&!document.all
	if (ie5||ns6)
	var menuobj=document.getElementById("ie5menu")

	function showmenuie5(e){
	//Find out how close the mouse is to the corner of the window
	var rightedge=ie5? document.body.clientWidth-event.clientX : window.innerWidth-e.clientX
	var bottomedge=ie5? document.body.clientHeight-event.clientY : window.innerHeight-e.clientY

	//if the horizontal distance isn't enough to accomodate the width of the context menu
	if (rightedge<menuobj.offsetWidth)
	//move the horizontal position of the menu to the left by it's width
	menuobj.style.left=ie5? document.body.scrollLeft+event.clientX-menuobj.offsetWidth : window.pageXOffset+e.clientX-menuobj.offsetWidth
	else
	//position the horizontal position of the menu where the mouse was clicked
	menuobj.style.left=ie5? document.body.scrollLeft+event.clientX : window.pageXOffset+e.clientX

	//same concept with the vertical position
	if (bottomedge<menuobj.offsetHeight)
	menuobj.style.top=ie5? document.body.scrollTop+event.clientY-menuobj.offsetHeight : window.pageYOffset+e.clientY-menuobj.offsetHeight
	else
	menuobj.style.top=ie5? document.body.scrollTop+event.clientY : window.pageYOffset+e.clientY

	menuobj.style.visibility="visible"
	return false
	}

	function hidemenuie5(e){
	menuobj.style.visibility="hidden"
	}

	function highlightie5(e){
	var firingobj=ie5? event.srcElement : e.target
	if (firingobj.className=="menuitems"||ns6&&firingobj.parentNode.className=="menuitems"){
	if (ns6&&firingobj.parentNode.className=="menuitems") firingobj=firingobj.parentNode //up one node
	firingobj.style.backgroundColor="highlight"
	firingobj.style.color="white"
	if (display_url==1)
	window.status=event.srcElement.url
	}
	}

	function lowlightie5(e){
	var firingobj=ie5? event.srcElement : e.target
	if (firingobj.className=="menuitems"||ns6&&firingobj.parentNode.className=="menuitems"){
	if (ns6&&firingobj.parentNode.className=="menuitems") firingobj=firingobj.parentNode //up one node
	firingobj.style.backgroundColor=""
	firingobj.style.color="black"
	window.status=''
	}
	}

	function jumptoie5(e){
	var firingobj=ie5? event.srcElement : e.target
	if (firingobj.className=="menuitems"||ns6&&firingobj.parentNode.className=="menuitems"){
	if (ns6&&firingobj.parentNode.className=="menuitems") firingobj=firingobj.parentNode
	if (firingobj.getAttribute("target"))
	window.open(firingobj.getAttribute("url"),firingobj.getAttribute("target"))
	else
	window.location=firingobj.getAttribute("url")
	}
	}

	if (ie5||ns6){
	menuobj.style.display=''
	document.oncontextmenu=showmenuie5
	document.onclick=hidemenuie5
	}
	</script>
<{elseif $block.display_layout == 3}>
	<script type="text/javascript">
	/***********************************************
	* Scrollable Menu Links- © Dynamic Drive DHTML code library (www.dynamicdrive.com)
	* Visit http://www.dynamicDrive.com for hundreds of DHTML scripts
	* This notice must stay intact for legal use
	***********************************************/
	//configure path for left and right arrows
	var goleftimage='<{$block.jscssurl}>pointer2.gif'
	var gorightimage='<{$block.jscssurl}>pointer.gif'
	//configure menu width (in px):
	var menuwidth=100
	//configure menu height (in px):
	var menuheight=25
	//Specify scroll buttons directions ("normal" or "reverse"):
	var scrolldir="reverse"
	//configure scroll speed (1-10), where larger is faster
	var scrollspeed=6
	//specify menu content

	var menucontents='<nobr><{foreach item=oneshortcut from=$block.shortcuts}>[<a href="<{$block.go_link}>?selshort=<{$oneshortcut.id}>"><{$oneshortcut.title}></a>]&nbsp;<{/foreach}></nobr>'
	////NO NEED TO EDIT BELOW THIS LINE////////////
	var iedom=document.all||document.getElementById
	var leftdircode='onMouseover="moveleft()" onMouseout="clearTimeout(lefttime)"'
	var rightdircode='onMouseover="moveright()" onMouseout="clearTimeout(righttime)"'
	if (scrolldir=="reverse"){
	var tempswap=leftdircode
	leftdircode=rightdircode
	rightdircode=tempswap
	}
	if (iedom)
	document.write('<span id="temp" style="visibility:hidden;position:absolute;top:-100;left:-5000">'+menucontents+'</span>')
	var actualwidth=''
	var cross_scroll, ns_scroll
	var loadedyes=0
	function fillup(){
	if (iedom){
	cross_scroll=document.getElementById? document.getElementById("test2") : document.all.test2
	cross_scroll.innerHTML=menucontents
	actualwidth=document.all? cross_scroll.offsetWidth : document.getElementById("temp").offsetWidth
	}
	else if (document.layers){
	ns_scroll=document.ns_scrollmenu.document.ns_scrollmenu2
	ns_scroll.document.write(menucontents)
	ns_scroll.document.close()
	actualwidth=ns_scroll.document.width
	}
	loadedyes=1
	}
	window.onload=fillup

	function moveleft(){
	if (loadedyes){
	if (iedom&&parseInt(cross_scroll.style.left)>(menuwidth-actualwidth)){
	cross_scroll.style.left=parseInt(cross_scroll.style.left)-scrollspeed+"px"
	}
	else if (document.layers&&ns_scroll.left>(menuwidth-actualwidth))
	ns_scroll.left-=scrollspeed
	}
	lefttime=setTimeout("moveleft()",50)
	}

	function moveright(){
	if (loadedyes){
	if (iedom&&parseInt(cross_scroll.style.left)<0)
	cross_scroll.style.left=parseInt(cross_scroll.style.left)+scrollspeed+"px"
	else if (document.layers&&ns_scroll.left<0)
	ns_scroll.left+=scrollspeed
	}
	righttime=setTimeout("moveright()",50)
	}


	if (iedom||document.layers){
	with (document){
	write('<table border="0" cellspacing="0" cellpadding="2">')
	write('<td valign="middle"><a href="#" '+leftdircode+'><img src="'+goleftimage+'"border=0></a> </td>')
	write('<td width=100% valign="top">')
	if (iedom){
	write('<div style="position:relative;width:'+menuwidth+'px;height:'+menuheight+'px;overflow:hidden;">')
	write('<div id="test2" style="position:absolute;left:0;top:0">')
	write('</div></div>')
	}
	else if (document.layers){
	write('<ilayer width='+menuwidth+' height='+menuheight+' name="ns_scrollmenu">')
	write('<layer name="ns_scrollmenu2" left=0 top=0></layer></ilayer>')
	}
	write('</td>')
	write('<td valign="middle"> <a href="#" '+rightdircode+'>')
	write('<img src="'+gorightimage+'"border=0></a>')
	write('</td></table>')
	}
	}
	</script>
	<a href="<{$block.addlink}>?Op=Add" title="<{$block.lang_add_current_page}>"><img src="<{$xoops_url}>/modules/shortcuts/images/add.gif" border="0" alt="<{$block.lang_add_current_page}>" title="<{$block.lang_add_current_page}>" /></a>
	<a href="<{$xoops_url}>/modules/shortcuts/index.php" title="<{$block.lang_edit_shortcuts}>"><img src="<{$xoops_url}>/modules/shortcuts/images/edit.gif" border="0" alt="<{$block.lang_edit_shortcuts}>" title="<{$block.lang_edit_shortcuts}>" /></a>
<{elseif $block.display_layout == 4}>
	<script type="text/javascript">

	/******************************************
	* Scrollable content script II- © Dynamic Drive (www.dynamicdrive.com)
	* Visit http://www.dynamicdrive.com/ for full source code
	* This notice must stay intact for use
	******************************************/

	iens6=document.all||document.getElementById
	ns4=document.layers

	//specify speed of scroll (greater=faster)
	var speed=5

	if (iens6){
	document.write('<div id="container" style="position:relative;width:175px;height:160px;border:1px solid black;overflow:hidden">')
	document.write('<div id="content" style="position:absolute;width:170px;left:0;top:0">')
	}
	</script>

	<ilayer name="nscontainer" width=175 height=160 clip="0,0,175,160">
	<layer name="nscontent" width=175 height=160 visibility=hidden>

	<!--INSERT CONTENT HERE-->
	<ul>
		<{foreach item=oneshortcut from=$block.shortcuts}>
			<li><a href="<{$block.go_link}>?selshort=<{$oneshortcut.id}>"><{$oneshortcut.title}></a></li>
		<{/foreach}>
	</ul>
	<!--END CONTENT-->

	</layer>
	</ilayer>

	<script language="text/javascript">
	if (iens6)
	document.write('</div></div>')
	</script>

	<table width="100%"><td><p align="right">
	<a href="#" onMouseover="moveup()" onMouseout="clearTimeout(moveupvar)"><img src="<{$block.jscssurl}>up.gif" border="0" /></a>  <a href="#" onMouseover="movedown()" onMouseout="clearTimeout(movedownvar)"><img src="<{$block.jscssurl}>down.gif" border="0" /></a></p></td>
	</table>

	<script language="text/javascript">
	if (iens6){
	var crossobj=document.getElementById? document.getElementById("content") : document.all.content
	var contentheight=crossobj.offsetHeight
	}
	else if (ns4){
	var crossobj=document.nscontainer.document.nscontent
	var contentheight=crossobj.clip.height
	}

	function movedown(){
	if (iens6&&parseInt(crossobj.style.top)>=(contentheight*(-1)+100))
	crossobj.style.top=parseInt(crossobj.style.top)-speed+"px"
	else if (ns4&&crossobj.top>=(contentheight*(-1)+100))
	crossobj.top-=speed
	movedownvar=setTimeout("movedown()",20)
	}

	function moveup(){
	if (iens6&&parseInt(crossobj.style.top)<=0)
	crossobj.style.top=parseInt(crossobj.style.top)+speed+"px"
	else if (ns4&&crossobj.top<=0)
	crossobj.top+=speed
	moveupvar=setTimeout("moveup()",20)
	}

	function getcontent_height(){
	if (iens6)
	contentheight=crossobj.offsetHeight
	else if (ns4)
	document.nscontainer.document.nscontent.visibility="show"
	}
	window.onload=getcontent_height
	</script>
	<a href="<{$block.addlink}>?Op=Add" title="<{$block.lang_add_current_page}>"><img src="<{$xoops_url}>/modules/shortcuts/images/add.gif" border="0" alt ="<{$block.lang_add_current_page}>" title="<{$block.lang_add_current_page}>" /></a>
	<a href="<{$xoops_url}>/modules/shortcuts/index.php" title="<{$block.lang_edit_shortcuts}>"><img src="<{$xoops_url}>/modules/shortcuts/images/edit.gif" border="0" alt="<{$block.lang_edit_shortcuts}>" title="<{$block.lang_edit_shortcuts}>" /></a>
<{/if}>
