<h2><{$smarty.const._SHORTCUTS_LIST}></h2>
<table border="0">
	<th><{$smarty.const._SHORTCUTS_DATE}></th>
	<th><{$smarty.const._SHORTCUTS_URL}></th>
	<th><{$smarty.const._SHORTCUTS_TITLE}></th>
	<{if $savehits}><th><{$smarty.const._SHORTCUTS_HITS}></th><{/if}>
	<{if $enable_rating}><th><{$smarty.const._SHORTCUTS_RATING}></th><{/if}>
	<th><{$smarty.const._SHORTCUTS_ACTION}></th>
	<{foreach item=oneshortcut from=$shortcuts_list}>
	<tr>
		<td><form method='post' action='<{$xoops_url}>/modules/shortcuts/index.php'><input type='hidden' name='shortcutid' value='<{$oneshortcut.id}>' /><{$oneshortcut.date}></td>
		<td><{$oneshortcut.url}></td>
		<td><input type='text' name='title' value='<{$oneshortcut.title}>' <{$maxlength}> /></td>
		<{if $savehits}><td align='right'><{$oneshortcut.hits}></td><{/if}>
		<{if $enable_rating}><td><select name='Rating'><{html_options options=$shortcuts_select_options selected=$oneshortcut.rating}></td><{/if}>
		<td align='center'><input type='image' name='modify' src='<{$xoops_url}>/modules/shortcuts/images/edit.gif' title='<{$smarty.const._SHORTCUTS_MODIFY}>' alt='<{$smarty.const._SHORTCUTS_MODIFY}>' value='modify' /> <input type='image' name='delete' src='<{$xoops_url}>/modules/shortcuts/images/delete.gif' onclick="javascript:return confirm('<{$smarty.const._SHORTCUTS_CONFDELETE}>')" title='<{$smarty.const._DELETE}>' alt='<{$smarty.const._DELETE}>' value='delete' /></form></td>
	</tr>
	<{/foreach}>
</table>


